<launch>
    <node name="joy" pkg="joy" type="joy_node" >
        <param name="autorepeat_rate" value="80" />
        </node>
    <node name="joy_throttled" type="throttle" pkg="topic_tools" args="messages /joy 60 /joy_throttled" />
    <node name="gait_commands" pkg="legolas_biped" type="gait_command_node.py" cwd="node"/>
    <node name="biped" pkg="legolas_biped" type="servos_manager_node.py" cwd="node"/>
    <node pkg="rostopic" type="rostopic" name="rostopic_echo_node" output="screen" args="echo /joint_angles" />
</launch>
